{{ form_start(form) }}
<script>
    function resetPlaceholderPassword(){
        let str = document.getElementById("user_password").value;
        if(str === ""){
            document.getElementById("user_password").value ="*********";
        }
    }

    function removePlaceholderPassword(){
        let str = document.getElementById("user_password").value;
        if(str === "*********"){
            document.getElementById("user_password").value ="";
        }
    }
</script>
<div class="addForm d-flex justify-content-center alignt" style="text-align: center">
    <form name="UserForm">
        <div id="UserForm" class="mt-3 ">
            {% if action == "ajout" %}
                <h3 style="color: white">Ajout d'un utilisateur</h3>
            {% else %}
                <h3 style="color: white">Modification d'un utilisateur</h3>
            {% endif %}
            <div>
                <label class="required field field_v2 mt-3">
                    <span class="field__label-wrap">
                        <span class="field__label" style="color: white">Email</span>
                    </span>
                    {{ form_widget(form.email, {'attr': {'class': 'field__input', 'autocomplete' : 'off'} } ) }}
                </label>
            </div>
            <div>
                <label class="field field_v2 mt-3" >
                    <span class="field__label-wrap">
                        <span class="field__label" style="color: white">Mot de passe</span>
                    </span>
                    {{ form_widget(form.password, {'attr': { 'type' : 'password' , 'name' : 'userPassword', 'id' : 'userPassword' , 'class': 'field__input','autocomplete' : 'off', 'onfocusin' : 'removePlaceholderPassword()', 'onfocusout' : 'resetPlaceholderPassword()',  'value' : '*********'   } } ) }}
                </label>
            </div>
            <div>
                <label class="required field field_v2 mt-3" >
                    <span class="field__label-wrap">
                        <span class="field__label" style="color: white">Nom</span>
                    </span>
                    {{ form_widget(form.nom, {'attr': {'class': 'field__input', 'autocomplete' : 'off'} } ) }}

                </label>
            </div>
            <div>
                <label class="required field field_v2 mt-3">
                    <span class="field__label-wrap">
                        <span class="field__label" style="color: white">Prénom</span>
                    </span>
                    {{ form_widget(form.prenom, {'attr': {'class': 'field__input', 'autocomplete' : 'off'} } ) }}

                </label>
            </div>
            <div>
                <label class="required field field_v2 mt-3" >
                    <span class="field__label-wrap">
                        <span class="field__label" style="color: white">Téléphone fixe</span>
                    </span>
                    {{ form_widget(form.telFixe, {'attr': {'class': 'field__input',  'maxlength' : '10', 'minlength' : '10','autocomplete' : 'off'} } ) }}

                </label>
            </div>
            <div>
                <label class="required field field_v2 mt-3" >
                    <span class="field__label-wrap">
                        <span class="field__label" style="color: white">Téléphone portable</span>
                    </span>
                    {{ form_widget(form.telPortable, {'attr': {'class': 'field__input',  'maxlength' : '10', 'minlength' : '10','autocomplete' : 'off'} } ) }}

                </label>
            </div>
            <div>
                <label class="required field field_v2 mt-3">
                    <span class="field__label-wrap">
                        <span class="field__label" style="color: white">Num Adresse</span>
                    </span>
                    {{ form_widget(form.numAdresse, {'attr': {'class': 'field__input','autocomplete' : 'off'} } ) }}

                </label>
            </div>
            <div>
                <label class="required field field_v2 mt-3">
                    <span class="field__label-wrap">
                        <span class="field__label" style="color: white">Num Adresse</span>
                    </span>
                    {{ form_widget(form.villeAdresse, {'attr': {'class': 'field__input','autocomplete' : 'off'} } ) }}

                </label>
            </div>
            <div class="mt-3">
                <label style="color: white">
                    Rôles :
                    <select>
                            <option value="user">Utilisateur</option>
                            <option value="admin">Administrateur</option>
                    </select>
                </label>
            </div>
            <br/>

            {% if action == "ajout" %}
                <div class="d-flex justify-content-center">
                    <button style="margin-right:20px" type="button" class="btn btn-outline-warning"
                            onclick="location.href='{{ path('app_user_index')}}'">Retour a la liste
                    </button>
                    <button class="btn mx-3 btn-outline-success">{{ button_label|default('Enregistrer') }}</button>
                </div>
            {% else %}
                <div class="d-flex justify-content-center">
                    <button style="margin-right:20px" type="button" class="btn btn-outline-warning"
                            onclick="location.href='{{ path('app_user_index')}}'">Retour a la liste
                    </button>
                    <button class="btn mx-3 btn-outline-success">{{ button_label|default('Enregistrer') }}</button>
                    {{ include('user/_delete_form.html.twig') }}
                </div>
            {% endif %}



        </div>

        {{ form_row(form._token) }}


    </form>
</div>
{{ form_end(form) }}
