{% extends 'base.html.twig' %}


{% block body %}
    <table class="table table-dark table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>TelFixe</th>
                <td>{{ user.telFixe }}</td>
            </tr>
            <tr>
                <th>TelPortable</th>
                <td>{{ user.telPortable }}</td>
            </tr>
            <tr>
                <th>NumAdresse</th>
                <td>{{ user.numAdresse }}</td>
            </tr>
            <tr>
                <th>VilleAdresse</th>
                <td>{{ user.villeAdresse }}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex">
        <button style="margin-right:20px" type="button" class="btn btn-success"
                onclick="location.href='{{ path('app_user_index')}}'">Retour a la liste
        </button>
        <button style="margin-right:20px" type="button" class="btn btn-warning"
                onclick="location.href='{{ path('app_user_edit', {'id': user.id}) }}'">Modifier
        </button>

        {{ include('user/_delete_form.html.twig') }}
    </div>

{% endblock %}
